<!DOCTYPE html>
<html lang="pt">
  <head>
    <title> Autenticação - Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'authentication' %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-flash-messages ="<%= JSON.dump(flash.to_a) %>">
    <main>
        <section class='hero'>
            <div class='log'>
                <%= <%= image_tag "instagram.png" %>
            </div>

            <%= yield %>
        </section>
    </main>
  </body>
</html>
